:root {
    font-size: 20px;
    font-weight: Arial, Helvetica, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

/*Header section*/

#head-content {
    display: grid;
    place-items: center;
    font-size: 50px;
    height: 22vh;
    background-image: url(4K-Tech-Background.jpg);
    background-size: cover;
}

#head-content h1 {
    color: white;
    z-index: 3;
    margin-top: 2px;
    margin-bottom: 0px;
}

header a {
    text-decoration: none;
    font-size: 16px;
    z-index: 2;
}

.button {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: .5s ease all;
}

.button:hover {
    color:#217dbb;
    text-decoration:none;
    background:#eee;
}

#overlay {
    position: absolute;
    height: 22vh;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(33,125,187,0.8);
    z-index: 0;
}

/*Header section end*/


main {
    display: grid;
    grid-template-columns: 75% 25%;
}

/*Left side content*/
#aboutme,
#proj {
    width: 99.2%;
    padding: 25px 5px;
    border-bottom: 1px solid #dcd9d9;
    border-right: 1px solid #dcd9d9;
    display: grid;
    justify-content: center;
    background-color: #ffffff;
}

#proj h2,
#aboutme h2 {
    text-align: center; 
}

#abouttext {
    padding: 0px 10rem;
}

#repo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.repo_item {
    flex: 1 1 300px;
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    background-color: #f2f2f5;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: var(--transition-speed);
}

.repo_item svg {
    width: 50px;
}

.repo_item:hover {
    transition: var(--transition-speed);
    box-shadow: 5px 10px 10px grey;
}

.repo_item a {
    text-decoration: none;
    color: black;
}

.c-lang {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #ffffff;
    background: #0288D1;
    list-style: none;
    font-size: 1.2em;
    border-radius: 25px;
}

/*Right side content*/
#skills,
#tools {
    background-color: #e4e4ea;
}

#skills {
    border-bottom: 1px solid #cfcdcd;
}

#skills h2,
#tools h2 {
    margin-top: 5px;
    margin-left: 10px;
}

#skills-list{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

#skills-list li {
    display: inline-block;
    margin: 7px;
    color: #ffffff;
    background: #ffffff;
    list-style: none;
    cursor: default;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
}

#skills-list li span {
    padding-left: 5px;
}

.filler-js,
.filler-css,
.filler-html,
.filler-reactnative,
.filler-nodejs,
.filler-python,
.filler-sql {
    background-color: #5cb85c;
    padding: 0;
    margin: 0;
}

.filler-reactnative,
.filler-js {
    background-color: #f0ad4e;
}

.filler-python,
.filler-sql {
    background-color: #5bc0de;
}

.val {
    float: right;
    padding-right: 5px;
}

#tools-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#tools-list li {
    display: inline-block;
    padding: 5px 10px;
    color: #FFF;
    background: #0288D1;
    list-style: none;
    cursor: default;
    font-size: 1em;
    margin: 1px;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {
    #tools,
    #skills {
        display: none;
    }

    main {
        grid-template-columns: 100%;
    }
}